/* src/index.css */
body {
  transition: background-color 0.3s, color 0.3s;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}

.card {
  border-radius: 10px;
}

button {
  margin: 0 5px;
}
